<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Menu Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="menu-container">
        <div class="menu-buttons">
            <a href="{{ url_for('visitas') }}" class="menu-btn">
                <img src="{{ url_for('static', filename='img/icon_visita.png') }}" alt="Visitas" class="icon">
                <div>Visitas</div>
            </a>
            <a href="{{ url_for('cadastro') }}" class="menu-btn">
                <img src="{{ url_for('static', filename='img/icon_cadastro.png') }}" alt="Cadastro" class="icon">
                <div>Cadastro</div>
            </a>
        </div>
    </div>
</body>
</html>
