<div class="produtos-btns">
  <div class="produtos-btn">
    <img src="{{ url_for('static', filename='img/capacete.png') }}" alt="Capacete">
    Capacete
  </div>
  <div class="produtos-btn">
    <img src="{{ url_for('static', filename='img/luva.png') }}" alt="Luva">
    Luva
  </div>
  <div class="produtos-btn">
    <img src="{{ url_for('static', filename='img/jaqueta.png') }}" alt="Jaqueta">
    Jaqueta
  </div>
  <div class="produtos-btn">
    <img src="{{ url_for('static', filename='img/macacao.png') }}" alt="Macacão">
    Calça
  </div>
  <div class="produtos-btn">
    <img src="{{ url_for('static', filename='img/intercomunicador.png') }}" alt="Intercomunicador">
    Intercom
  </div>
  <div class="produtos-btn">
    <img src="{{ url_for('static', filename='img/oficina.png') }}" alt="Acessórios">
    Acessórios
  </div>
</div>
